@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: var(--Very_Dark_Blue);
    
}


:root{
    --very_Dark_Blue: hsl(230, 17%, 14%);
    --Very_Dark_Blue: hsl(232, 19%, 15%);
    --Dark_Desaturated_Blue: hsl(228, 28%, 20%);
    --Desaturated_Blue: hsl(228, 34%, 66%);
    --White:  hsl(0, 0%, 100%);
}


.main_wrapper{
    margin: 5%;
}

label{
    position: absolute;
    width: 70px;
    height: 35px;
    right: 20px;
    top: 110px;
    border: 2px solid;
    border-radius: 25px;
    background-color:red blue;
    background-image: linear-gradient(red,yellow,);
}

label:before{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    left: 1px;
    top: 4px;
    border-radius: 12px;
    cursor: pointer;
    background: #000;
    transition: 0.4s;

}

.text1{
    color: white;
    font-size: small;
}

.text2{
    color: var(--Desaturated_Blue);
    padding-top: 4px;
}

.text3{
    padding-top: 35px;
    color: var(--Desaturated_Blue);font-size: small;

}

#dark-change{
    background-image: linear-gradient(to right, rgb(34, 107, 225),rgb(34, 234, 81));
}
.message1{
    padding-top: 2rem;
    text-align: center;
}

.meg1{
    font-size: larger;
    color: #fff;
    font-weight: 100%
}

.meg1 h1{
    font-size: xx-large;
}

/*.meg1 p{
    font-size: small;
}*/


.img{
    display: flex;
    padding-left: 4rem;
    padding-bottom: 2rem;
    font-size: small;
}
.img h1{
    padding-left: 10px;
}

.icon{
    display: flex;
    padding-left: 8rem;
    padding-bottom: 2rem;
    font-size: smaller;
}

.icon h1{
    padding-left: 10px;
    font-size: smaller;
}




