@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.main_wrapper{
  background: linear-gradient(white, white, rgb(145, 145, 189), rgb(145, 145, 189),  blue)
}

.main_texts{
  margin-left: 4%;
  margin-right: 4%;
}





.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 
}

.navlist{
  display: inline;
  padding: 20px;
}
.navitems{
  text-decoration: none;
  text-align: center;
}

button{
  position: relative;
  width: 100px;
  height: 10px;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  margin: 10px 10px;
  font-weight: bold;
  border: 2px solid #3d49f2;
  background-color: #3d49f2;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  
}

.link{
  color: #fff;
  text-decoration: none;
}


.main_text{
  display: flex;
  padding-top: 4rem;
}

.paragraph-text{
  display: flex;
}

.text1{
  padding-top: 3rem;
}
.text1 h1{
  font-size: 60px;
  color: #3d49f2;
}

.text1 h2{
  font-size: 50px;
  padding-bottom: 15px;
}

.text1 p{
  font-size: 20px;
  color: #04011f;
}

.img{
  padding-left: 160px;
  padding-top: 4rem;
}
.myimg{
  display: flex;
  flex-direction: column;
}
.prosper{
  width: 100px;
}